// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.invisible_list {
  -webkit-padding-start: 0;
  list-style-type: none;
}

.reviews {
  background-color: #999;
  padding: 20px;
  border-radius: 20px;
}
